* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

letter {
  font-size: 1.2rem;
  font-weight: bold;
}

letter.correct {
  color: green;
}

letter.wrong {
  color: red;
}

letter.cursor {
  position: relative;
}

letter.cursor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #000;
}
